html{
    height: 100%;
}
body{
    background-image: url(IMG/fondo\ de\ la\ pagina.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}
.container{
    margin-left: auto;
    margin-right: auto;
    
}
header{
    text-align: center;
    margin-top: 25px;
    

}

nav{
    font-size: 135%;
    text-align: center;
    padding-top: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

nav a{
    color: white;
    padding-right: 50px;
    padding-left: 5
    .0px;
    text-decoration: none;
}

nav a:hover{
   font-size: 138%;
   color: rgb(211, 211, 211);
   text-shadow: 2px 2px black;
   cursor: pointer;
   transition:  0.05s;

}
main{
   text-align: center;
   padding-top: 20px;
}

main h1{
    font-size: 500%;
    color: white;
    font-family: 'Cormorant SC', serif;
}

main p{
    font-size: 250%;
    font-family: 'Roboto Mono', monospace;;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
}

main a{
    border: solid 3px black;
    border-radius: 5px;
    font-size: 250%;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}   

footer p{
    padding-top: 200px;
    font-size: 18px;
    text-align: center;
}

footer a{
    padding-top: 50px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding-bottom: 50px;
}